html{
    height: 100%;
    overflow: hidden;
}

body{
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

#topNavBar{
    box-shadow: none;
}

#activityInfo{
    border-bottom: 1px solid #d3d6da;
    background-color: rgb(156,172,199);
    color: #fff;
    font-size: 14px;
    padding: 10px;
}
#activityInfo p{
    padding: 0;
    margin: 0;
}
#activityInfo .section1{
    font-size: 18px;
}

#mainContent{
    position: relative;
    background-color: #fff;
}

#mainContent ul{
    list-style: none;
    -webkit-padding-start: 0px;
}
#mainContent .sidebar{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    border-right: 1px solid rgb(211,214,218);
    padding-right: 0;
}
#mainContent .userlist{
    padding: 10px;
}
#mainContent .stat{
    height: 240px;
    border-top: 1px solid rgb(211,214,218);
}

#timeline{
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 82%;
}
#timeline .resourceGroup{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
}
#timeline .time{
    width: 30%;
    text-align: right;
    border-right: 5px solid rgb(36,74,134);
    padding-top: 10px;
    padding-right: 10px;
    -webkit-transition: width 300ms;
}
#timeline.min .time{
    width: 8%;
}
#timeline .resource{
    position: relative;
    width: 70%;
    padding-left: 60px;
}
#timeline .line{
    position: absolute;
    width: 50px;
    left: 0;
    top: 20px;
    border-top: 3px dotted rgb(36,74,134);
}
#timeline .resourceItem{
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    padding: 10px 0;
}
#timeline .thumb{
    border-radius: 6px;
    margin-right: 10px;
}
#timeline .imageThumb{
}
#timeline .imageThumb img{
    border-radius: 6px;
    max-width: 200px;
    max-height: 200px;
}
#timeline .videoThumb{
    background-color: #CCC;
    width: 170px;
    height: 100px;
}
#timeline .content{
    width: 100%;
}
#timeline .textContent{
    word-wrap: break-word;
}
#timeline .comment{
    color: #999;
}

#preview{
    position: absolute;
    top: 0;
    right: -100%;
    height: 100%;
    width: 72%;

    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0,0,0,0.8);
    -webkit-transition: right 400ms;
}
#preview.shown{
    right: 15px;
}
#preview .toolbar{
    text-align: right;
    padding: 10px;
}
#preview .content{
    -webkit-box-align: center;
}
#preview .content .ctrl{
    padding: 10px;
}
#preview .mediaContent{
    text-align: center;
}
#preview .mediaContent img, #preview .mediaContent video{
    max-width: 760px;
}
#preview .contentWrapper{
    display: inline-block;
    text-align: left;
}