body{
    background-color: rgb(235,238,243);
}
body.fixedTopNavbar{
    padding-top: 50px;
    margin-bottom: 30px;
}

a{
    cursor: pointer;
}

.hbox{
    display: -webkit-box;
    display: /* @alternate */-ms-flexbox;
    -webkit-box-orient: horizontal;
    /* @alternate */-ms-flex-direction: row;
}
.vbox{
    display: -webkit-box;
    display: /* @alternate */-ms-flexbox;
    -webkit-box-orient: vertical;
    /* @alternate */-ms-flex-direction: column;
}
.full{
    -webkit-box-flex: 1;
    /* @alternate */-ms-flex: 1;
}
.center{
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

#topNavBar{
    border: none;
    background-color: /* grunt|env:www.theme.nav.bg[0] */rgb(36,74,134)/* end */;
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
}
#topNavBar .navbar-brand{
    color: #FFF;
}
#topNavBar .navbar-header{
    font-size: 22px;
    color: /* grunt|env:www.theme.nav.text[0] */rgb(180,201,221)/* end */;
    margin-right: 10px;
}
#topNavBar li > a{
    color: /* grunt|env:www.theme.nav.text[0] */rgb(180,201,221)/* end */;
}
#topNavBar li.active > a{
    color: /* grunt|env:www.theme.nav.text[1] */#fff/* end */;
    background-color: /* grunt|env:www.theme.nav.bg[1] */rgb(32,66,121)/* end */;
}