<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.swall.tra_demo"
          android:versionCode="20"
          android:versionName="1.0_20140713">
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-sdk android:minSdkVersion="14"/>
    <application android:name="com.swall.tra.TRAApplication"
                 android:label="@string/app_name"
                 android:theme="@style/MyTheme"
                 android:icon="@drawable/icon"
            >

        <activity android:name="com.swall.tra.SplashActivity"
                  android:theme="@style/Theme.Sherlock.Light.NoActionBar"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.swall.tra.LoginActivity"
                  android:theme="@style/Theme.Sherlock.Light.NoActionBar"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:windowSoftInputMode="adjustResize"
                />
        <activity android:name="com.swall.tra.MainActivity"
                  android:theme="@style/MyTheme"
                />
        <activity android:name="com.swall.tra.SettingActivity"/>
        <activity android:name="com.swall.tra.JoinActivityIntent"
                android:theme="@style/MyTheme"
                />
        <activity android:name="com.swall.tra.ResourceListActivity"/>
        <activity android:name="com.swall.tra.ImageViewActivity"/>
        <activity android:name="com.swall.tra.VideoCaptureActivity"/>
        <activity android:name="com.swall.tra.TRAInfoActivity"/>
        <activity android:name="com.swall.tra.CurrentTRAActivity"/>
        <activity android:name="com.swall.tra.TRAResourceListAcitivity"/>
        <activity android:name="com.swall.tra.QuitActivity"/>
        <activity android:name="com.swall.tra.AddTextResourceActivity"
                android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.swall.tra.UploadProgressActivity"/>

        <!-- 友盟 -->
        <!--<meta-data android:value="52a3238756240b119207f74f" android:name="UMENG_APPKEY" />--><!-- 71 -->
        <meta-data android:value="5327d32356240b93e009a6ff" android:name="UMENG_APPKEY" /><!-- demo -->
        <meta-data android:value="c_0001" android:name="UMENG_CHANNEL"/>
        <service
                android:name="com.umeng.common.net.DownloadingService"
                android:process=":DownloadingService" >
        </service>
        <activity
                android:name="com.umeng.update.UpdateDialogActivity"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity android:name="com.swall.tra.SettingsActivity"/>
    </application>


    <!-- 友盟 -->

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
