<!DOCTYPE html>
<html ng-app="activityPlay" ng-controller="PlayerMainController">
<head>
    <title>{{activity.info.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="lib/bootstrap_3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="css/activityPlay.min.css?20140107001" rel="stylesheet">
    <script src="lib/jquery/jquery-2.0.3.min.js"></script>
    <script src="lib/angular/angular_1.2.6.js"></script>
</head>
<body class="fixedTopNavbar">

    <!-- 顶部的导航栏 -->
    <div id="topNavBar" class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand">展示活动：{{activity.info.title}}</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="showLoginModal()">{{username}}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 活动信息 -->
    <div class="row" id="activityInfo">
        <div class="col-sm-4 section1">
            <p>活动日期：{{activityDate}}</p>
            <p>开始时间：{{activityTime}}</p>
            <p ng-switch on="activity.info.type">
                活动类型：
                <span ng-switch-when="1">公开课</span>
                <span ng-switch-default>其他</span>
            </p>
        </div>
        <div class="col-sm-4 section2">
            <p>出课教师：{{activity.info.teacher}}</p>
            <p>年级：{{activity.info.grade}}</p>
            <p>学科：{{activity.info.subject}}</p>
            <p>班级：{{activity.info.class}}</p>
            <p>课题：{{activity.info.domain}}</p>
        </div>
        <div class="col-sm-4 section3">
            <p>用户：</p>
            <p>资源：</p>
            <p>活动简介：{{activity.info.desc}}</p>
        </div>
    </div>

    <!-- 主要内容 -->
    <div class="row" id="mainContent">
        <!-- 侧边栏 -->
        <div class="col-sm-2 sidebar">
            <!-- 参与活动的用户列表 -->
            <div class="userlist">
                用户：
                <ul>
                    <li ng-repeat="uid in activity.users.participators">{{uid}}</li>
                </ul>
            </div>
            <!-- 统计信息入口 -->
            <div class="stat"></div>
        </div>
        <!-- 时间线和资源列表 -->
        <div class="col-sm-11 timeline">
            <div class="resourceGroup" ng-repeat="group in resources">
                <div class="time">{{group[0].date | date:'hh:mm'}}</div>
                <div class="resource">
                    <div class="line"></div>
                    <div class="resourceItem" ng-repeat="resource in group">
                        <div class="thumb" ng-hide="resource.type==0"></div>
                        <div class="content">
                            <div ng-switch on="resource.type">
                                <span ng-switch-when="0">文字</span>
                                <span ng-switch-when="1">图片</span>
                                <span ng-switch-when="2">视频</span>
                                <span ng-switch-when="3">音频</span>
                                <span>{{resource.user}}</span>
                            </div>
                            <div class="textContent" ng-show="resource.type==0">{{resource.content}}</div>
                            <div class="comment">{{resource.comment}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--
            <div class="resourceItem" ng-repeat="resource in activity.resources">
                <div class="time">{{resource.date | date:'hh:mm'}}</div>
                <div class="resource">
                    <div class="thumb" ng-hide="resource.type==0"></div>
                    <div class="content">
                        <div ng-switch on="resource.type">
                            <span ng-switch-when="0">文字</span>
                            <span ng-switch-when="1">图片</span>
                            <span ng-switch-when="2">视频</span>
                            <span ng-switch-when="3">音频</span>
                            <span>{{resource.user}}</span>
                        </div>
                        <div class="textContent" ng-show="resource.type==0">{{resource.content}}</div>
                        <div class="comment">{{resource.comment}}</div>
                    </div>
                </div>
            </div>-->
        </div>
    </div>

    <script src="lib/bootstrap_3.0.3/js/bootstrap.js"></script>
    <script src="lib/underscore/underscore_1.5.2.min.js"></script>
    <script src="js/activityPlay.min.js?20140107001"></script>
</body>
</html>